<template name="AccountSettings">
<body>
<h1>Sorry for the inconvience</h1>
<h3> This feature will be useable later in the future </h3>
</body>
</template>
<template name="Users">
<body>
<h1>Sorry for the inconvience</h1>
<h3> This feature will be useable later in the future </h3>
</body>
</template>
<template name="Share">
<body>
<h1>Sorry for the inconvience</h1>
<h3> This feature will be useable later in the future </h3>
</body>
</template>
<template name="FAQ">
<body>
<h1>Sorry for the inconvience</h1>
<h3> This feature will be useable later in the future </h3>
</body>
</template>
<template name="MobileApp">
<body>
<h1>Sorry for the inconvience</h1>
<h3> This feature will be useable later in the future </h3>
</body>
</template>
