<template name="SideNav">
<nav class="side-nav">
<ul>
<li>
<a href="/entries"><i class="fa fa-list fa-3x"></i> Entry</a>
</li>
<li>
<a href="/menu"><i class="fa fa-sticky-note-o fa-2x"></i> Notes</a>
</li>
<li>
<a href="/Users"><i class="fa fa-users fa-2x"></i> Users</a>
</li>
<li>
<a href="/Share"><i class="fa fa-send fa-2x"></i> Share</a>
</li>
<li>
<a href="/FAQ"><i class="fa fa-question-circle-o fa-2x"></i> FAQ</a>
</li>
<li>
<a href="/MobileApp"><i class="fa fa-mobile fa-2x"></i> Mobile-App</a>
</li>
<li>
<a href="/AccountSettings"><i class="fa fa-cogs fa-2x"></i> Account Settings</a>
</li>
</ul>

</nav>
</template>
