<template name="new_entry">
    {{#autoForm collection=Entries id="new_entry" type="insert"}}
      <fieldset>
        <legend>Add an Entry</legend>
        <div class="form-group">
          {{> afQuickField name='entryType' id='entryType'}}
          {{> afQuickField name='title'}}

          {{#if afFieldValueIs name="entryType" value="note"}}
            {{> afObjectField name='note'}}
          {{/if}}
          {{#if afFieldValueIs name="entryType" value="task"}}
            {{> afQuickField name="task.dueDate"}}
            {{> afQuickField name="task.description"}}
          {{/if}}
          {{#if afFieldValueIs name="entryType" value="event"}}
            {{> afQuickField name="event.date"}}
            {{> afQuickField name="event.location" type="googleplace" opts=optsGoogleplace}}
            {{> afQuickField name="event.description"}}
          {{/if}}

        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdZn2reLGeLVyQn0bJr3KFeNH0izT9ha8&libraries=places"></script>
</template>
