<template name="new_entry">
  <!-- {{> quickForm collection=Entries doc=this id="new_entry" type="insert"}} -->
  <!--<div class="form">-->
    {{#autoForm collection=Entries id="new_entry" type="insert"}}<!--type="method" meteormethod="insertNewEntry"}}-->
      <fieldset>
        <legend>Add an Entry</legend>
        <div class="form-group">
        <!--<div class="form-group">-->
          {{> afQuickField name='entryType' id='entryType'}}
          {{> afQuickField name='title'}}
        <!--</div>

        <div class="form-group">-->
          {{#if afFieldValueIs name="entryType" value="note"}}
            {{> afObjectField name='note'}}
          {{/if}}
          {{#if afFieldValueIs name="entryType" value="task"}}
            <!--{{> afObjectField name='task'}}-->
            {{> afQuickField name="task.dueDate" type='datetimepicker' opts=pickerOpts}}
            {{> afQuickField name="task.description"}}
          {{/if}}
          {{#if afFieldValueIs name="entryType" value="event"}}
            <!--{{> afObjectField name='event'}}-->
            {{> afQuickField name="event.date"}}
            {{> afQuickField name="event.location" type="googleplace" opts=optsGoogleplace}}
            {{> afQuickField name="event.description"}}
          {{/if}}

        </div>
        <!--</div>-->
      </fieldset>
      <!--<div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}

  <!--</div>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdZn2reLGeLVyQn0bJr3KFeNH0izT9ha8&libraries=places"></script>
</template>
