<!--<template name="HomeLayout">
  {{> Header}}
    <main>
      <div class="billboard">
        <h2>Organize Your Notes</h2>
      </div>
    </main>
</template>-->
<template name="HomeLayout">
  {{> Header}}
    <main>
      <div class="billboard">
        <h2 class="billboardStatement">Organize Your Notes</h2>
        <a>
          <i class="fa fa-google-plus fa-4x "></i>
          <i class="fa fa-twitter fa-4x "></i>
          <i class="fa fa-facebook-square fa-4x "></i>
          <i class="fa fa-github fa-4x"></i>
        </a>
        <a>
          <i class="fa fa-windows fa-4x "></i>
          <i class="fa fa-android fa-4x "></i>
          <i class="fa fa-apple fa-4x "></i>
          <i class="fa fa-linux fa-4x "></i>
        </a>
      </div>
      <!-- <div class="billboard2">
        <h5>"We don't have a great mission statement,"</h5>
        <h5>but we'll put it here if things get better."</h5>
      </div> -->
      <div class="restofbody">
        <h5 class="tempStatement">"Noteify is an all-in-one scheduler, task-manager, and journal,<br>
            meant to help you focus on what really matters."</h5>
      </div>
    </main>
</template>
