<template name="entries">
  <div class="entries_display">
    <header>
        <h1>My List</h1>
    </header>
    <label class="hide-completed">
      <input type="checkbox" />
      Hide Completed Entries
    </label>

    <!--TODO: Edit new entry form to allow for data from all entry types -->
    <form class="new-entry">
      <input type="text" name="text" placeholder="Type to add new entry" />
    </form>


    <!-- iterate through entriess, display each
          entry based on template below. -->
    <ul>
      {{#each entries}}
        {{> entry}}
      {{/each}}
    </ul>
  </div>
</template>
