<template name="entry">
  <article class="entry {{#if inMenu}} in-menu{{/if}}">
    <h3>{{title}}</h3>
    <p>Entry Type: {{entryType}}</p>

    <i class="fa fa-pencil"></i>
    <i class="fa fa-trash"></i>

    {{#if isNote entryType}}
      <p class="description">Description: {{note.description}} </p>
      {{#if $.Session.get 'editMode'}}
        <div class="new-entry-container">
          {{#autoForm collection="Entries" id=updateEntryId type="update" doc=this autosave=true}}
            <fieldset>
              <legend>Edit Note</legend>
              <div class="form-group">
                {{> afQuickField name='title'}}
                {{> afQuickField name='entryType' readonly="true" value='note'}}
                {{> afQuickField name='note.description'}}
              </div>
              <!--<div class="form-group">
                {{#afEachArrayItem name="tags"}}
                  <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
                  {{> afFieldInput name=this.current.title}}
                {{/afEachArrayItem}}
                <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="fields"><span class="glyphicon glyphicon-plus"></span></button>

              </div>-->
            </fieldset>
          {{/autoForm}}

        </div>

      {{/if}}

    {{/if}}

    {{#if isTask entryType}}
      <p class="dueDate">Due: {{task.dueDate}} </p>
      <p class="description">Description: {{task.description}} </p>

      {{#if $.Session.get 'editMode'}}
        <div class="new-entry-container">
          {{#autoForm collection="Entries" id=updateEntryId type="update" doc=this autosave=true}}
            <fieldset>
              <legend>Edit Task</legend>
              <div class="form-group">
                {{> afQuickField name='title'}}
                {{> afQuickField name='entryType' readonly="true" value='task'}}
                {{> afQuickField name="task.dueDate"}}
                {{> afQuickField name="task.description"}}
              </div>
              <!--<div class="form-group">
                {{#afEachArrayItem name="tags"}}
                  <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
                  {{> afFieldInput name=this.current.title}}
                {{/afEachArrayItem}}
                <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="fields"><span class="glyphicon glyphicon-plus"></span></button>

              </div>-->
            </fieldset>
          {{/autoForm}}

        </div>

      {{/if}}
    {{/if}}

    {{#if isEvent entryType}}
      <p class="date">Date: {{event.date}} </p>
      <p class="location">Location: {{{getMapUrl event.location}}}</p>
      <p class="description">Description : {{event.description}} </p>

      {{#if $.Session.get 'editMode'}}
        <div class="new-entry-container">
          {{#autoForm collection="Entries" id=updateEntryId type="update" doc=this autosave=true}}
            <fieldset>
              <legend>Edit Event</legend>
              <div class="form-group">
                {{> afQuickField name='title'}}
                {{> afQuickField name='entryType' readonly="true" value='event'}}
                {{> afQuickField name="event.date"}}
                {{> afQuickField name="event.location" type="googleplace" opts=optsGoogleplace}}
                {{> afQuickField name="event.description"}}
              </div>
              <!--<div class="form-group">
                {{#afEachArrayItem name="tags"}}
                  <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
                  {{> afFieldInput name=this.current.title}}
                {{/afEachArrayItem}}
                <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="fields"><span class="glyphicon glyphicon-plus"></span></button>

              </div>-->
            </fieldset>
          {{/autoForm}}

        </div>

      {{/if}}
    {{/if}}

    <!--{{#if inMenu}}
      <button class = "btn-deny toggle-menu">Remove From Menu</button>
    {{else}}
      <button class = "btn-primary toggle-menu">Add To Menu</button>
    {{/if}}-->


  </article>
</template>
